@model DeltaRT.BaseService.Models.SysException
@{
    Layout = null;
}

<table class="table-form m5">
    <colgroup>
        <col style="width: 70px;"/>
        <col style="width: 250px;"/>
        <col style="width: 60px;"/>
        <col />
    </colgroup>
    <tr>
        <td>编码：</td>
        <td>@Model.Id</td>
        <td>请求地址：</td>
        <td>@Model.Url</td>
    </tr>
    <tr>
        <td>创建人：</td>
        <td>@(Model.CreatedUserName)(@Model.CreatedUserCode)</td>
        <td>创建时间：</td>
        <td>@Model.CreatedTime</td>
    </tr>
    <tr>
        <td>Ip地址：</td>
        <td>@Model.Ip</td>
        <td>内部消息：</td>
        <td>@Model.InnerException</td>
    </tr>
    <tr>
        <td>异常名称：</td>
        <td>@Model.Name</td>
        <td>异常信息：</td>
        <td>@Model.Message</td>
    </tr>
    <tr>
        <td>来源：</td>
        <td>@Model.Source</td>
        <td>操作方法：</td>
        <td>@Model.Method</td>
    </tr>
    <tr>
        <td valign="top">堆栈信息：</td>
        <td colspan="3">
            @Model.Stack
        </td>
    </tr>
</table>